/* Resetting default padding and margin - http://www.clagnut.com/blog/1287/ */
* {margin:0;padding:0;}

/*form {position:relative;top:0;left:0;}*/
img {border:none}
/* end reset */

/* ===== BASICS ====== */

body { font-size:12px; font-family:Arial; color:#22272c; line-height:1.3em; background-color: #4a5a67; }
#body02 { font-size:12px; font-family:Arial; color:#22272c; line-height:1.3em; background-color: #4a5a67; }

#wrapper01 { position:relative; left:0; top:0; margin:0 auto; max-width:968px; background-color: #FFFFFF; }

a:link, a:visited, a:active { text-decoration: underline; color: #333333; }
a:hover { text-decoration: none; color: #333333; }

.clearer { clear:both; }

#banner01 { }

#content01 {  padding-top: 20px; padding-left: 30px }

#tablecolumn01a { width: 291px; float: left; margin-bottom: 15px; margin-right:19px }
#tablecolumn01ab { max-width: 292px; float: left; margin-bottom: 15px; margin-right:19px }
#tablecolumn02a {
  background-color: #b7c6c7;
  border-top-left-radius: 15px;
  float: left;
  margin-bottom: 15px;
  margin-right: 19px;
  max-width: 289px;
  padding-top: 15px;
}#tablecolumn03a { max-width: 288px;  padding-right: 30px;
    float: left; }

#tablecolumn01acontent { /* padding-left: 30px; */ padding-top: 15px; }
#tablecolumn01acontent h1 { font-size:30px; font-family:Arial; color: #e39b1d; line-height:1.1em; padding-bottom: 12px; font-weight: normal; }
#tablecolumn01acontent h2 { font-size:12px; font-family:Arial; color: #22272c; line-height:1.1em; padding-bottom: 10px; font-weight: bold; }
#tablecolumn01acontent h3 { font-size:14px; font-family:Arial; color: #22272c; line-height:1.1em; padding-bottom: 10px; font-weight: bold; }
#tablecolumn01acontent p { padding-bottom: 10px; }
#tablecolumn01acontent ul { margin:0px 0px 0px 15px; }
#tablecolumn01acontent li { list-style : square; margin:0px 0px 0px 10px; }

#tablecolumn02acontent { padding-left: 14px; padding-right: 14px; /* padding-left: 20px; */}
#tablecolumn02acontent h1 { font-size:25px; font-family:Arial; color: #ffffff; line-height:1.1em;  padding-bottom: 12px; font-weight: normal; }
#tablecolumn02acontent h2 { font-size:20px; font-family:Arial; color: #ffffff; line-height:1.1em; padding-top: 8px; padding-bottom: 15px; font-weight: normal; }
#tablecolumn02acontent h3 { font-size:20px; font-family:Arial; color: #ffffff; line-height:1.1em; padding-top: 7px; padding-bottom: 12px; font-weight: normal; }
#tablecolumn02acontent small { font-size:10px; line-height:1.1em; }
#tablecolumn02acontent ul { margin:0px 0px 6px 20px; max-width: 236px; }
#tablecolumn02acontent li { list-style : url(../images/bullet01.gif); margin:0px 0px 7px 0px; }
#tablecolumn02acontent p { padding-bottom: 10px; }

#contact-form{ width:546px; box-sizing:border-box; margin:0 auto; background-color:#BCCBCB; padding:35px 35px 15px 35px; border-top-left-radius:45px;}

#contact-form .form-group{ margin-bottom: 20px;}

#contact-form .form-group .form-control{ width:100%; height:35px; line-height: 35px; padding-left:12px; font-size: 12px; color:#323B3F; border:none; box-sizing:border-box;}

#contact-form .form-group textarea.form-control{ height:217px; padding:12px; font-family: 'Arial';}

.show-on-mobile{ display: none;}

#about-map{ text-align: center;}

#about-map .col-md-4{ text-align: left;}

#about-map .col-md-4 h2{ margin-bottom: 15px; margin-top: 40px;}

#tablecolumn03acontent { background-color:#6B7D85; padding:15px 25px 0px 25px; border-top-left-radius:15px; }

.two-cols .half-left, .two-cols .half-right{ width:48%; float:left;}

.two-cols .half-right{ float:right !important;}

h1.orange{ font-size: 25px; color:#EF9700; font-family: 'Arial', sans-serif; font-weight: normal; margin-bottom: 20px; margin-top: 20px;}

.centralised-orange-title{ font-size: 25px; color:#EF9700; font-weight: normal; text-align: center; margin:35px 0 35px; line-height: normal;}

#tablecolumn03acontent h3 {
  color: #fff;
  font-family: Arial;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 46px;
  text-align: center;
}

.remove-from-mobile {
  margin-left: -30px;
  margin-right: -30px;
}

.form-group .ibox{ width:100%; display: block; padding:0 20px; height:35px; line-height: 35px; margin-bottom: 15px; font-size: 13px; color:#797979; box-sizing:border-box; border:none; border-radius:12px;}

#login01 { font-size:14px; font-family:Arial; color: #ffffff; line-height:1.1em; padding-bottom: 2px; }
#voyage01 { padding-bottom: 17px; }
#tablecolumn03acontent p { color: #FFFFFF; padding-bottom: 10px; }
#tablevoyage01 { font-size:10px; color: #ffffff; border-right: 6px solid #6e829d; border-bottom: 4px solid #6e829d; }
#tablevoyage02 { font-size:10px; color: #ffffff; border-bottom: 4px solid #6e829d; }
#tablevoyage03 { border-right: 6px solid #6e829d; border-bottom: 4px solid #6e829d; }
#tablevoyage04 { border-bottom: 4px solid #6e829d; }
#tablevoyage05 { border-bottom: 40px solid #6e829d; }
#tablevoyage05a { font-size:10px; color: #ffffff; }
#tablevoyage05b { text-align: right; }

ul.dotted-list{ padding:0; margin:0;}

ul.dotted-list li{ list-style: none; font-size: 12px; color:#323B3F; border-bottom: dotted 1px #323B3F; padding:20px 0;}

a.greybox:link, a.greybox:visited, a.greybox:active { text-decoration: underline; font-size:10px; color:#ffffff; }
a.greybox:hover { text-decoration: none; font-size:10px; color:#ffffff; }

.field1 { background-color: #ffffff; font-size:12px; font-family:Arial; color: #22272c; border: 1px solid #41535d; padding: 2px; height: 16px; max-width: 120px; }

#footer01 { margin-top:20px; background-image:url(../images/footer.png); background-size: cover; background-repeat: no-repeat; margin-bottom: 65px; padding-left: 30px; padding-top: 2px; color:#ffffff; font-family: verdana; font-size:10px; height: 78px; }

a.footer01:link, a.footer01:visited, a.footer01:active { text-decoration: none; color:#ffffff; }
a.footer01:hover { text-decoration: underline; color:#ffffff; }

.col-md-4{ width:33.3333%; float:left; padding:0 15px; box-sizing: border-box;}

.row-fluid {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-4 h2{ color:#EF9700; font-size: 19px; font-weight: normal; margin-bottom: 20px; line-height: 1.2;}

.col-md-4 p{ margin-bottom: 15px;}

/* ===== HISTORY ====== */

#tablecolumn02b { max-width: 289px; float: left; margin-right:20px }
#tablecolumn02bcontent { padding-top: 25px; }
#tablecolumn02bcontent h1 { font-size:20px; font-family:Arial; color: #e39b1d; line-height:1.1em; padding-bottom: 12px; font-weight: normal; }
#tablecolumn02bcontent ul { margin:0px 0px 6px 0px; max-width: 236px; }
#tablecolumn02bcontent li { list-style : square; margin:0px 0px 7px 15px; }

#tablecolumn03b { max-width: 288px; padding-left: 19px; padding-right: 30px; float: left }
#tablecolumn03bcontent { background-color:#b7c6c7; padding-left: 14px; padding-bottom: 19px; padding-right: 14px; }
#tablecolumn03bcontent h1 { font-size:25px; font-family:Arial; color: #ffffff; line-height:1.1em; padding-top: 5px; padding-bottom: 12px; font-weight: normal; }

#tablecolumn03bcontent ul { margin:0px 0px 6px 20px; max-width: 236px; }
#tablecolumn03bcontent li { list-style : url(../images/bullet01.gif); margin:0px 0px 7px 0px; }


/* ===== ABOUT ====== */

#tablecolumn03c { max-width: 290px; padding-right: 30px; float: left }
#tablecolumn03ccontent { background-color: #ced8d9; max-width: 288px; border-right: 1px solid #FFFFFF; }
#tablecolumn03ccontenttitle { font-size:20px; font-family:Arial; color: #22272c; line-height:1.1em; max-width: 273px; border-bottom: 1px solid #FFFFFF; padding-left: 16px; padding-bottom: 17px; padding-top: 8px; font-weight: normal; }

#teampics01 { max-width: 290px; }
.teampics01a { max-width: 143px; height:103px; overflow: hidden; float: left; border-bottom: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF; }
.teampics01b { max-width: 143px; overflow: hidden; background-color: #FFFFFF; float: left; border-bottom: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF; }


/* ===== PARTNERS ====== */

#tablecolumn02c { max-width: 600px; float: left }
#partnerpics01 { background-color: #ced8d9; max-width: 600px; border-right: 1px solid #FFFFFF; }
.partnerpics01a { max-width: 198px; overflow: hidden; height:75px; float: left; border-bottom: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF; }


/* ===== CONTACT ====== */

#tablecolumn02d { background-color: #ced8d9; max-width: 580px; float: left; margin-left: 20px; overflow: hidden }
#enquiries_form01 { border-bottom: 15px solid #ced8d9; max-width: 555px; }
.enquiriestable01 { border-bottom: 5px solid #ced8d9; border-right: 5px solid #ced8d9; max-width: 250px; }
.enquiriestable02 { border-bottom: 5px solid #ced8d9; max-width: 355px; }
.enquiriestable03 { font-size:21px; color: #c88209; padding-top: 3px; }
.field2 { background-color: #ffffff; width: 98%; font-size:12px; font-family:Arial; color: #22272c; border: 1px solid #7b7b7b; padding: 2px; height: 16px; max-width: 325px; }

#enquiries_thanksoops { border-left: 20px solid #ced8d9; height: 390px; }
#enquiries_thanksoops h1 { font-size:20px; font-family:Arial; color: #22272c; line-height:1.1em; padding-top: 5px; padding-bottom: 12px; font-weight: normal; }


/* ===== FORGOT ====== */

#forgot_form01 { padding:20px 20px 20px 20px; }
.forgottable01 { border-bottom: 5px solid #4a5a67; border-right: 5px solid #4a5a67; color: #FFFFFF; max-width: 120px; }
.forgottable02 { border-bottom: 5px solid #4a5a67; max-width: 205px; }
.forgottable03 { font-size:14px; color: #c88209; }
.field3 { background-color: #ffffff; font-size:12px; font-family:Arial; color: #22272c; border: 1px solid #7b7b7b; padding: 2px; height: 16px; max-width: 200px; }
#forgot_form01 p { color: #FFFFFF; padding-bottom: 12px; }
#forgot_form01 h1 { font-size:20px; font-family:Arial; color: #FFFFFF; line-height:1.1em; padding-bottom: 12px; font-weight: normal; }

a.forgot:link, a.forgot:visited, a.forgot:active { text-decoration: underline; color:#ffffff; }
a.forgot:hover { text-decoration: none; color:#ffffff; }


/* ===== MENU ====== */

#navbar { color: #FFFFFF; background-color:#6c7d86; z-index:5; max-width: 968px;
    display: block;
    width: 100%;
}

#nav, #nav ul {
    max-width:auto; list-style:none; line-height:1.3; padding:0; margin:0; font-weight: normal; display: block; width:100%;}

#nav a {
  color: #ffffff;
  display: block;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 0 5px;
  text-align: center;
  text-decoration: none;
}

#nav a.daddy { }

#nav li {
  background: #6c7d86 none repeat scroll 0 0;
  display: block;
  float: left;
  max-width: 25%;
  padding: 0;
  width: 135px;
}#nav > li {
    width: 25%;
}
#nav li.over { float:left; padding:0; max-width:25%; background:#e39b1d; }
#nav li.overpartners { float:left; padding:0; max-width:196px; background:#e39b1d; }
#nav li.partners { float:left; padding:0; max-width:196px; background:#6c7d86; }

#nav li ul { position:absolute; left:-999em; height:auto; max-width:193px; text-align: left; font-weight: normal; }

#nav li li { max-width:auto; border-top:1px solid #FFFFFF; text-align: left; background:#6c7d86; }

#nav li ul a { max-width:183px; text-align: left; padding-left: 10px; }

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {left: -999em;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {left: auto;}

#nav li:hover, #nav li.sfhover { background-color:#e39b1d; }

.intro-text{ text-align: center; padding:25px 60px 0; font-size: 13px; color:#272727; font-family: 'Arial';}

.intro-text p{ margin-bottom: 20px;}


/* ===== LIGHTBOX ====== */

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

.airlines{ text-align: center; padding-top: 30px;}

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

.full-width-image img{ display: block; width:100%; height: auto; margin-top: 45px;}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 80%; float: left; text-align: left; }
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

.read-more-btn {
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  clear: both;
  color: #455967 !important;
  display: inline-block !important;
  font-size: 12px;
  margin: 20px auto;
  padding: 10px 20px;
  text-decoration: none !important;
	border:none;
}

.read-more-btn.orange{  background-color:#EF9700; color:#fff !important; margin-bottom: 16px;}

/* bx */

.bx-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    *zoom: 1;
}
.slider li,.slider ul {
    width: 100%;
    padding: 0 !important;
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
}
.bxslider {
    margin: 0;
    padding: 0;
}
.bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
}
/** THEME
===================================*/

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    display: none}
/* LOADER */
.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../images/cycle_loader.png) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 89;
}
/* PAGER */
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
    display: none;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #000;
}

/* bx end */


/* ===== GREYBOX ====== */

#GB_overlay {
  background-image: url(../images/overlay.png);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 100;
  max-width:  100%;
  height: 100%;
}

* html #GB_overlay {
  background-color: #000;
  background-color: transparent;
  background-image: url(../images/blank.gif);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/overlay.png", sizingMethod="scale");
}

#GB_window {
  top: 200px;
  left: 0px;
  position: absolute;
  background: #fff;
  border: 5px solid #aaa;
  overflow: auto;
  max-width: 400px;
  height: 400px;
  z-index: 150;
}

#GB_frame {
  border: 0;
  overflow: auto;
  max-width: 100%;
  height: 378px;
}

#GB_caption {
  font: 12px bold helvetica, verdana, sans-serif;
  color: #fff;
  background: #888;
  padding: 2px 0 2px 5px;
  margin: 0;
  text-align: left;
}

#GB_window img {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  cursor: hand;
}

/* mobile optomisations */
.logo {
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0 0 26px;
    z-index: 98;
}
.logo img {
    width: auto;
    max-width: 100%;
}

#banner01 {
    max-width: 100%;
    overflow: hidden;
}
.block {
    display: block;
}
.marginBottom {
    margin-bottom: 15px;
}

.headerTextRight {
    font-size: 23px;
    color: #FFF;
    text-align: right;
    position: absolute;
    bottom: 20px;
    line-height: 30px;
    right: 20px;
    z-index: 99999999;

}
.menuimg {
    display: none;
}


.left-header-text {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  height: auto;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 145px;
  width: 365px;
  z-index: 999;
}

.left-header-small-text{
	
	
	color:#fff;
	width:365px; 
	bottom:27px;
	left:0px; 
	font-size: 13px; font-weight: bold;
	line-height: normal;
	position: absolute;
	z-index: 99999;
	text-align: right;
}

@media screen and (max-width:485px) {
    .hideAtBreak, .headerTextRight {
        display: none;
    }
}
@media screen and (min-width:980px) {
    .fullHeight {
        margin-bottom: 10px;
    }
    #nav li { width:25%; }
}
@media screen and (max-width:600px) {
	
	.left-header-small-text, .left-header-text{ display: none;}
	
	
	#tablecolumn01a, #tablecolumn02a, #tablecolumn03a {
  display: block;
  margin: 0 auto !important;
  float: none;
  margin-bottom: 30px !important;
}
	
	
	
    #banner01 img {
        width: auto;
        max-width: 160%;
        min-width: 100%;
        height: auto;
        margin: 0 -30%;
    }
    #tablecolumn02d {
        margin-left: 0;
        padding-top: 20px;
        border-radius: 15px 0 0 0;
        padding-left: 10px;
    }
    #tablecolumn02d .field2 {
        width: 94%;
    }
    #tablecolumn02d img {
        display: none;

    }
    #content01 { padding-left: 10px }

    #enquiries_form01 {
        margin-top: 20px;
    }
    #footer01 {
        background-image:none ;
        background-color: #333A42;
		height: auto !important; margin-bottom: 0 !important;
    }
	.two-cols .half-left, .two-cols .half-right, .col-md-4{ width:100%; float:none;}
	
	.remove-from-mobile{ display: none !important;}
	
	.show-on-mobile{ display: block !important;}
	
	#contact-form {
  background-color: #bccbcb;
  border-top-left-radius: 45px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 35px 35px 15px;
  width: 100%;
}
	
	#content01 {
  padding-left: 10px;
  padding-right: 10px !important;
}
	
	#footer01 small, #footer01 img {
  display: block;
  float: none !important;
  text-align: center;
  margin: 0 auto !important;
  padding: 6px;
}
	
    #nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.dropdown ul ul, #nav li.dropdown ul ul ul {left: -999em;}
    #nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.dropdown ul, #nav li li.dropdown ul, #nav li li li.dropdown ul {left: auto;}

    #nav {
        display: none;
    }

    #nav li,
    #nav li.partners,
    #nav li.over,
    #nav li a,
    #nav li ul li,
    #nav li ul li a,
    #nav li ul {
        position: relative;
        width: auto;
        max-width: 100%;
        text-align: left;
        display: block;
        float: none;

    }

    #nav li {
        border-top:1px solid #ffffff
    }

    #nav li.dropdown,
    #nav li.dropdown:hover {
        background: #333A42;
    }

    #nav li a {
        padding: 10px 0 10px 15px;
    }
    #nav li ul li a {
        padding-left: 30px;
    }
    .menuimg img {
        padding-top: 9px;
        display: block;
        margin-right: 10px;
        float: left;
    }
    .menuimg {
        display: block;
        padding-left: 15px;
        font-size: 15px;
        line-height: 38px;
        height: 39px;
        color: #FFF;
        background: #333A42;
    }

    #tablecolumn03a, #tablecolumn03c {
        padding-right: 0;
    }

}

@media screen and (max-width:900px) {
    #nav li ul li {

    }

}

@media screen
and (min-width : 647px)
and (max-width : 980px){
	
	.left-header-small-text{ display: none;}
	
	#tablecolumn01a, #tablecolumn02a, #tablecolumn03a {
  box-sizing: border-box;
  margin: 1.5% !important;
  max-width: 30% !important;
  padding: 0;
  width: 30% !important;
}

    #tablecolumn01acontent, #tablecolumn01a {
        width: 99%;
        max-width: 100%;

    }
    #tablecolumn02a {
        margin-right: 50px;
    }
    .ipadLeft {
        float:left;
        width:49%;
        max-width: 400px;

    }
    .ipadFullwidth {
        width: 100%;
    }

    .homespecial {
        width: 350px !important;
        max-width: 350px !important;
    }

}


    #nav li:hover ul {
    left: auto;
}
#banner01 img {
    padding: 0;
    margin: 0;
    display: inline;

}
#banner01 {
    position: relative;
    display: block;
    line-height: 0;
}



